.navbar-container {
  background: $Onyx !important;

  .navbar-brand {
    color: $Alabaster;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: ease-in-out 0.2s;

    &:visited {
      color: $Alabaster;
    }
  }

  ul {
    gap: 1rem;
    visibility: visible;

    a {
      font-size: 1.3rem;

      &:hover {
        transform: scale(1.15);
        transition: ease-in-out 0.2s;
        color: #f0b5ed;
      }

      &:visited {
        color: #fff;
      }
    }
  }
}
