@media screen and (max-width: 850px) {
  //About me
  .about-container {
    align-items: center;
    font-size: 20px;

    .text-container {
      padding: 15px;
      width: 50%;
    }
  }

  //Image gallery
  .row-n {
    .loading-container {
      margin-left: 44%;
    }
  }

  //Navbar
  .navbar-container {
    a {
      &:hover {
        transform: scale(1.035);
      }
    }
  }

  //Image detail
  .row {
    .card {
      max-width: 78%;
    }

    .loading-container {
      margin-top: -5%;
      margin-left: -2%;
    }
  }
}

@media screen and (max-width: 550px) {
  //Footer
  .sub-footer {
    &-links {
      .footer-title {
        font-size: 1rem;
      }

      .social-media {
        margin-top: -3%;
        margin-left: -2%;
      }
    }
  }

  //Image detail
  .row {
    .card {
      max-width: 93%;

      .card-body {
        padding: 0;
        padding-top: 1rem;
      }
    }
  }

  //Image gallery
  .row-n {
    .loading-container {
      margin-left: 40%;
    }
  }

  //About me
  .about-container {
    .text-container {
      width: 94%;
    }
  }
}

@media screen and (max-width: 350px) {
  //Image gallery
  .row-n {
    .loading-container {
      margin-left: 38%;
    }
  }
}
