.section-padding{
  padding: 4rem 4rem;
}

.footer-container{
  background-color: rgb(58, 58, 58);
}

.footer-p a{
  color: aliceblue;
  text-decoration: none;
}

.footer-p a p{
  margin-bottom: -0.5px;
}

.sub-footer{
  display: flex;
  flex-direction: column;
}

.sub-footer-links{
  display: flex;
  justify-content:center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
}

.sub-footer-links-div{
  padding-left: 25px;
  padding-right: 25px;
  width: 230px;
  margin: 0.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: aliceblue;
}

.footer-a{
  color: aliceblue;
  text-decoration: none;
}

.social-media{
  display: flex;
  flex-direction: row;
  padding: 5px;
  width: 250px;
}

.social-media .footer-img{
  width: 60%;
}

.social-media .portfolio-img{
  width: 33%;
}

.sub-footer-links-div .footer-h4{
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0.9rem;
}

.sub-footer-links-div .footer-p{
  font-size: 12px;
  line-height: 15px;
  margin: 0.5rem 0;
  cursor: pointer;
}

.sub-footer-below{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.sub-footer-below-links{
  display: flex;
  flex-direction: row;
}

.sub-footer-below-links .footer-p{
  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  color: aliceblue;
  font-weight: 600;
}

hr{
  color: aliceblue !important;
  width: 100%;
}

.sub-footer-copyright .footer-p{
  font-size: 13px;
  line-height: 15px;
  color: aliceblue;
  font-weight: 600;
}

@media screen and (max-width: 850px){
  .sub-footer-heading h1{
    font-size: 44px;
    line-height: 50px;
  }
}

@media screen and (max-width: 550px){
  .sub-footer-heading h1{
    font-size: 34px;
    line-height: 42px;
  }

  .sub-footer-links div{
    margin: 1rem 0;
  }

  .sub-footer-btn p{
    font-size: 14px;
    line-height: 20px;
  }

  .sub-footer-below{
    flex-direction: column;
    justify-content: left;
  }

  .sub-footer-below-links{
    flex-direction: column;
  }

  .sub-footer-below-links p{
    margin-left: 0rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 400px){
  .sub-footer-heading h1{
    font-size: 27px;
    line-height: 38px;
  }
}

