<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/52c1173b-d124-4c04-b88c-2b80cf14c34f/resourcegroups/cloud-shell-storage-southcentralus/providers/Microsoft.Web/sites/MPGBackend</ResourceId>
    <ResourceGroup>cloud-shell-storage-southcentralus</ResourceGroup>
    <ApiResourceId>/subscriptions/52c1173b-d124-4c04-b88c-2b80cf14c34f/resourceGroups/BingoBackend20230304174159ResourceGroup/providers/Microsoft.ApiManagement/service/BingoBackendapi/apis/MPGAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mpgbackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>81aecbf2-0359-4c18-adc9-3cfa079379bb</ProjectGuid>
    <MSDeployServiceURL>mpgbackend.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MPGBackend</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$MPGBackend</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>